/*---- GENERAL ----*/
body{
    font-family: 'Lucida Grande',sans-serif;
    background-color: #ccc;
}

/*--- FEEDBACK MESSAGES --*/
#feedback{
    width:90%;
    text-align:center;
    font-size:1em;
    border: 1px solid;
    margin:auto;
    line-height:0;
    font-size:0.9em;
    position:relative;
    z-index:2;
    margin-top:-2em;
    visibility:hidden;
}
#feedback.FAIL{
    border-color:#c33;
    color:#c33;
    background-color:#fee;
}
#feedback.WIN{
    border-color:#3c3;
    color:#3c3;
    background-color:#efe;
}

/*---CONTENT -------*/
.content{
    height:70%;
}
.step{
    float:left;
    padding:1%;
    margin:.5%;
    background-color: #eee;
    min-height:90%;
    overflow:hidden;
}

/*------ STEP 1 -------*/
.step.s1{
    width:27%;
}

/*------ STEP 2 -------*/
.step.s2{
    width:47%;
}
#quote{
    padding-left:0px;
}
.hentry{
    clear:both;
    list-style:none;
    padding-top:.7em;
    border-top:1px dashed #ccc;
    position:relative;
    background-color: #eee;
}
.thumb.vcard{
    float:left;
    margin-right:1em;
    margin-left:.5em;
}
.thumb img{
    border:none;
}
a.author{
    font-weight:bold;
}
.entry-meta{
    color:#888;
    font-family:georgia;
    font-size:0.8em;
    font-style:italic;
}
.entry-meta a{
    color:#888;
    text-decoration:none;
}
.entry-meta a:hover{
    color:none;
    text-decoration:underline;
}
.status-body{
    margin-right:30px;
    padding-right:1em;
}
.hentry .actions{
    position:relative;
    top:-2em;
    left:100%;
    margin-left:-30px;
    width:30px;
}
.del{
    color:#fff;
    background-color:#999;
    display:block;
    width:20px;
    text-align:center;
    padding-bottom:3px;
    font-size:13px;
    outline:1px outset;
    text-decoration:none;
}
li:hover{
    background-color:#fff;
}
li:hover .del{
    background-color:#c33;
}
.del:hover{
    background-color:#f33;
}
.del:active{
    outline:1px inset;
    font-size:12px;
}

/*------ STEP 3 -------*/
.step.s3{
    width:16%;
}
.huge-button{
    width:100%;
    white-space:normal;
    cursor:pointer;
}

/*------ FOOTER -------*/

.footer{
    clear:both;
    background-color:#999;
}