<html>
    <body>
        <form action="a/create" method="post" onsubmit="return createQuote();">
            <input type="hidden" name="statuses" />
        </form>
        <!-- <form action="/a/create" method="post">
        <label>Tweets<input type="text" name="statues" /></label>
        <p class="field-help">Enter a list of the status IDs you want to quote.</p>
        <ul class="field-examples" id="examples" style="display:none;" >
        <li>1145408853, 1145501753</li>
        <li>1140235467-1140275762</li>
        <li>1140729344-1140809532 marcogomes,fczuardi</li>
        </ul>
        <div><input type="submit" value="Quote!"></div>
        </form> -->
    </body>
</html>