<html>
    <head>
        <script src="/js/mootools-1.2.1-core.js" type="text/javascript"></script>
        <script src="/js/main.js" type="text/javascript"></script>
        <link href="/skin/default/style.css" type="text/css" media="screen,projection" rel="stylesheet" /> 
        <link rel="shortcut icon" href="/skin/default/favicon.png" type="image/png" />
        <title>QuoteURL - Share Twitter Conversations</title>
    </head>
    <body onload="$('status-id-field').focus()">
        <div id="main-container">
            <div id="header">
                <h1>QuoteURL <em>for <a href="http://twitter.com/home" title="Split Screen!" onclick="return splitScreen();"><img src="/skin/default/twitter_logo_80x18.png" width="80" height="18" alt="twitter logo" title="QuoteURL is not associated with Twitter.com"></a></em></h1>
                <p id="service-description" class="todo">
                    QuoteURL helps you <strong>group different Twitter updates</strong> from
                    different people <strong>into a single page</strong> that has a <em>permanent URL</em>. So you can put it on your blog or send interesting conversations to friends.
                    <!-- <a href="#" id="demo-button">Watch the demo.</a> -->
                </p>
            </div>
            <div id="feedback">
                <p id="feedback-message"></p>
            </div>
            <div class="content">
                <div class="step c1">
                    <h3>Add tweets</h3>
                    <form action="/" onsubmit="return loadTweet();">
                        <label>Enter an individual <b>Twitter status URL</b> or ID here <small>(example: http://twitter.com/fczuardi/status/<b>1186152779</b>)</small>
                            <input type="text" id="status-id-field" value="" /></label>
                        <input type="submit" name="tweet" value="+" id="add-tweet-button" onclick="return loadTweet();" />
                    </form>
                    <p class="help">{{msg_help1}}</p>
                </div>
                <div class="step c2">
                    <h3>Quote Preview</h3>
                    <p></p>
                    <ol id="quote">
                        <li id="dummy-tweet" class="hentry status">
                            <div class="thumb vcard author">
                                <img width="48" height="48" src="/skin/default/avatar_bigger.jpg" class="photo fn" alt="placeholder avatar"/>
                            </div>
                            <div class="status-body">
                                <a class="author" title="Fabricio Zuardi" href="http://twitter.com/fczuardi">fczuardi</a>
                                <span class="entry-content">
                                    You haven't added tweets yet. Go ahead and use the text field above to enter tweet permalinks and build a quote.
                                </span>
                            </div>
                            <div class="actions"></div>
                        </li>
                    </ol>
                </div>
                <div class="step c3">
                    <form action="a/create" method="post" onsubmit="return createQuote();" id="form-submit">
                        <input type="hidden" name="statuses" id="form-statuses" value="" />
                        <input type="hidden" name="authors" id="form-authors" value="" />
                        <input type="hidden" name="author_ids" id="form-author-ids" value="" />
                        <input type="submit" class="huge-button disabled" id="save-button" value="Save" />
                    </form>
                    <!-- <form action="/a/create" method="post">
                    <label>Tweets<input type="text" name="statues" /></label>
                    <p class="field-help">Enter a list of the status IDs you want to quote.</p>
                    <ul class="field-examples" id="examples" style="display:none;" >
                    <li>1145408853, 1145501753</li>
                    <li>1140235467-1140275762</li>
                    <li>1140729344-1140809532 marcogomes,fczuardi</li>
                    </ul>
                    <div><input type="submit" value="Quote!"></div>
                    </form> -->
                </div>
            </div>
        </div> <!-- end main -->
        <div id="twitter-container">
            <iframe width="100%" height="100%" id="twitter-iframe"></iframe>
        </div>
        <div class="footer">
            <p>
                <a href="/">Home</a> |
                <a href="http://github.com/fczuardi/quoteurl/tree/master">View Source</a> |
                <a href="http://fczuardi.lighthouseapp.com/projects/24896-quoteurl/tickets">Bugs</a> |
                <a href="http://pledgie.org/campaigns/2814">Donate</a>
                <em>
                    © 2009 <a href="http://fabricio.org">Fabricio Zuardi</a>.
                    Powered by 
                    <a href="http://apiwiki.twitter.com/">Twitter API</a>,
                    <a href="http://appengine.google.com">Google App Engine</a>, 
                    <a href="http://mootools.net">MooTols</a>, 
                    <a href="http://github.com">github</a>.
                </em>
            </p>
            <p>QuoteURL is not associated with Twitter. Twitter is a registered trademark of Twitter Inc.</p>
        </div>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-7325497-2");
        pageTracker._trackPageview();
        } catch(err) {}</script>
    </body>
</html>