<html>
    <head>
        <link href="/skin/default/style.css" type="text/css" media="screen,projection" rel="stylesheet" /> 
        <script src="/js/mootools-1.2.1-core.js" type="text/javascript"></script>
        <script src="/js/main.js" type="text/javascript"></script>
    </head>
    <body{% if short %} onload="warnUser('Great Success! Your QuoteURL is ready!','WIN',3000);"{% endif %}>
        <div class="header c2 center">
            <h1>QuoteURL (alpha… way, waay ALPHA)</h1>
            <div>
                <label><a href="{{page_url}}">URL</a>: <input type="text" value="{{page_url}}" id="quoteURL-field" /></label>
                <label>Embed: <input type="text" value="" id="quoteURL-embed-field" /></label>
            </div>
        </div>
        <div id="feedback">
            <p id="feedback-message"></p>
        </div>
        <div class="quote-container c2 center">
        <ol id="quote">
        {% for tweet in tweets %}
        <li class="hentry status u-{{tweet.user.screen_name}}">
            <div class="thumb vcard author">
                <a class="url" href="http://twitter.com/{{tweet.user.screen_name}}">
                    <img width="48" height="48" src="{{tweet.user.profile_image_url}}" class="photo fn" alt="{{tweet.user.name}}"/>
                </a>
            </div>
            <div class="status-body">
                <a class="author" title="{{tweet.user.name}}" href="http://twitter.com/{{tweet.user.screen_name}}">{{tweet.user.screen_name}}</a>
                <span class="entry-content">
                    {{tweet.text}}
                    <!-- '+twitter_at_linkify(linkify(tweet.text)) -->
                </span>
                <span class="meta entry-meta">
                    <a rel="bookmark" class="entry-date" href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}">
                    <span title="{{tweet.created_at}}" class="published">{{tweet.created_at|timesince}} ago</span></a> <span>from {{tweet.source}}</span>
                </span>
            </div>
            <div class="actions"></div>
        </li>
        {% endfor %}
        </ol>
        </div>
    </body>
</html>