<html>
    <body>
        {% if short %}
        <h1>Great Success! Your QuoteURL is:</h1>
        <pre>
            <a href="http://{{app_url}}/{{short}}">http://{{app_url}}/{{short}}</a>
        </pre>
        {% endif %}
        {% for tweet in tweets %}
        <div class="thumb vcard author">
            <a class="url" href="http://twitter.com/{{tweet.user.screen_name}}">
                <img width="48" height="48" src="{{tweet.user.profile_image_url}}" class="photo fn" alt="{{tweet.user.name}}"/>
            </a>
        </div>
        <div class="status-body">
            <a class="author" title="{{tweet.user.name}}" href="http://twitter.com/{{tweet.user.screen_name}}">{{tweet.user.screen_name}}</a>
            <span class="entry-content">
                {{tweet.text}}
                <!-- '+twitter_at_linkify(linkify(tweet.text)) -->
            </span>
            <span class="meta entry-meta">
                <a rel="bookmark" class="entry-date" href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}">
                <span title="{{tweet.created_at}}" class="published">{{tweet.created_at}}</span></a> <span>from {{tweet.source}}</span>
            </span>
        </div>
        {% endfor %}
    </body>
</html>