<html>
    <body>
        <p>
            You submitted:
        </p>
        <h2>Tweets</h2>
        {{user_keys}}
        {% for tweet in tweets_to_put %}
            <ul>
                <li>{{tweet.tweet_id}}</li>
                <li>{{tweet.numeric_tweet_id}}</li>
                <li>{{tweet.created_at}}</li>
                <li>{{tweet.favorited}}</li>
                <li>{{tweet.in_reply_to_screen_name}}</li>
                <li>{{tweet.in_reply_to_status_id}}</li>
                <li>{{tweet.numeric_in_reply_to_status_id}}</li>
                <li>{{tweet.in_reply_to_user_id}}</li>
                <li>{{tweet.source|escape}}</li>
                <li>{{tweet.text}}</li>
                <li>{{tweet.truncated}}</li>
                <li>{{tweet.json|escape}}</li>
                <li>{{tweet.author_screen_name}}</li>
                <li>{{tweet.author_id}}</li>
            </ul>
            <hr />
        {% endfor %}
        <h2>Authors</h2>
        {% for twitter_user in users_to_put %}
            <ul>
                <li>{{twitter_user.description}}</li>
                <li>{{twitter_user.followers_count}}</li>
                <li>{{twitter_user.user_id}}</li>
                <li>{{twitter_user.numericuser_id}}</li>
                <li>{{twitter_user.location}}</li>
                <li>{{twitter_user.name}}</li>
                <li>{{twitter_user.profile_image_url}}</li>
                <li>{{twitter_user.protected}}</li>
                <li>{{twitter_user.screen_name}}</li>
                <li>{{twitter_user.url}}</li>
                <li>{{twitter_user.json|escape}}</li>
            </ul>
            <hr />
        {% endfor %}
    </body>
</html>