<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link href="/skin/default/style.css" type="text/css" media="screen,projection" rel="stylesheet" /> 
    <link rel="shortcut icon" href="/skin/default/favicon.png" type="image/png" />
    <title>QuoteURL - Upgrade Membership</title>
</head>
<body class="message-page">
    <div id="header">
        <h1><a href="/" class="title">QuoteURL</a> <em>for <a href="http://twitter.com/home" ><img src="/skin/default/twitter_logo_80x18.png" width="80" height="18" alt="twitter logo" title="QuoteURL is not associated with Twitter.com" /></a></em></h1>
    </div>
    <div class="content">
        <h3>Membership Upgrade</h3>
        <p>
            Thank you for you interest, this page is not ready yet, but
            you can send an email to <a class="action-button" href="mailto:fabricio+quoteurl@gmail.com?subject=QuoteURL Beta">fabricio+quoteurl@gmail.com</a>
            with your name and login email to be notified when the upgrade options were in place.
        </p>
    </div>
    <div class="footer">
        <p>
            <a href="/">Home</a> |
            <a href="http://github.com/fczuardi/quoteurl/tree/master">View Source</a> |
            <a href="http://fczuardi.lighthouseapp.com/projects/24896-quoteurl/tickets">Bugs</a> |
            <a href="http://pledgie.org/campaigns/2814">Support</a> |
            {{msg_login}}
            <em>
                © 2009 <a href="http://fabricio.org">Fabricio Zuardi</a>.
                Powered by 
                <a href="http://apiwiki.twitter.com/">Twitter API</a>,
                <a href="http://appengine.google.com">Google App Engine</a>, 
                <a href="http://mootools.net">MooTols</a>, 
                <a href="http://reghellin.com/milkbox/">Milkbox</a>,
                <a href="http://github.com">github</a>,
                <a href="http://lighthouseapp.com">Lighthouse</a>,
                <a href="http://pledgie.org">Pledgie</a>.
            </em>
        </p>
        <p>QuoteURL is not associated with Twitter. Twitter is a registered trademark of Twitter Inc.</p>
        <p>
            <a class="validator-button" href="http://validator.w3.org/check?uri=referer"><img
            src="http://www.w3.org/Icons/valid-xhtml10-blue"
            alt="Valid XHTML 1.0 Transitional"
            title="Valid XHTML 1.0 Transitional"
            height="20" width="57" /></a>
        </p>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-7325497-2");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>
</html>